Repository elidholm/snake-net, changes with the labels that .github/labeler.yml gives for each.
All labels: README, License, Actions, Source code

.github/labeler.yml:

---
README:
  - changed-files:
      - any-glob-to-any-file: README.md

License:
  - changed-files:
      - any-glob-to-any-file: LICENSE

Actions:
  - changed-files:
      - any-glob-to-any-file: .github/**

Source code:
  - changed-files:
      - any-glob-to-any-file: src/**

fix: properly setup python project
  src/main.py
  src/snake_net/__init__.py
  src/snake_net/main.py
Labels: Source code

fix: only run linting action on master
  .github/workflows/linting.yml
Labels: Actions

fix: run gitleaks scan on all pushes and PRs
  .github/workflows/security.yml
Labels: Actions

feat: move module and add Layer_Dense class
  snake_net/__init__.py
  snake_net/layer.py
  src/snake_net/main.py
Labels: Source code

test: add pytest support for unit tests of layer module
  tests/__init__.py
  tests/test_layer.py
Labels: none

test: add mypy and pytest to github actions
  .github/workflows/linting.yml
Labels: Actions

test: run code analysis on push to all branches
  .github/workflows/linting.yml
Labels: Actions

fix: import numpy when testing in actions
  .github/workflows/linting.yml
Labels: Actions

fix: run testing and type-checking independently of previous step
  .github/workflows/linting.yml
Labels: Actions

fix: correct linting errors
  snake_net/layer.py
  tests/test_layer.py
Labels: none

feat: add relu activation function class with tests
  pyproject.toml
  snake_net/activation.py
  snake_net/layer.py
  tests/test_layer.py
  tests/test_relu.py
Labels: none

fix: import rich in linting action
  .github/workflows/linting.yml
Labels: Actions

test: update verison of setup-python action
  .github/workflows/linting.yml
Labels: Actions

feat: add proper python logging
  .github/workflows/linting.yml
  snake_net/activation.py
  snake_net/layer.py
Labels: Actions

feat: add softmax activation function with tests
  snake_net/activation.py
  tests/test_softmax.py
Labels: none

feat: add sample data generator with tests
  .github/workflows/linting.yml
  snake_net/generator.py
  tests/test_generator.py
Labels: Actions

fix: remove pip install of functools
  .github/workflows/linting.yml
Labels: Actions

refact: rename create_data to spiral_data
  snake_net/generator.py
  tests/test_generator.py
Labels: none

feat: add loss function class with tests
  pyproject.toml
  snake_net/activation.py
  snake_net/layer.py
  snake_net/loss.py
  tests/test_layer.py
  tests/test_loss.py
Labels: none

feat: add helper functions with tests
  snake_net/helpers.py
  tests/test_helpers.py
Labels: none

refact: abstract 'Activation' class and and softmax activation
  snake_net/activation.py
  snake_net/generator.py
  tests/test_relu.py
  tests/test_softmax.py
Labels: none

test: add flake8 in CI linting job
  .flake8
  .github/workflows/linting.yml
  Makefile
  mypy.ini
Labels: Actions

fix: remove unnecessary comment
  snake_net/generator.py
Labels: none

fix: CI workflow
  .github/workflows/linting.yml
  mypy.ini
Labels: Actions

feat: add functionality to 'Makefile'
  Makefile
Labels: none

refact: rework layer module
  snake_net/layer.py
  tests/test_layer.py
Labels: none
